<!DOCTYPE html>
<html>
<head>
    <title>Create Student</title>
</head>
<body>
    <h2>Create Student</h2>
    <form method="post" action="{% url 'create_student' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="roll_no">Roll No:</label>
        <input type="text" id="roll_no" name="roll_no"><br><br>
        <label for="subject1">Subject 1:</label>
        <input type="text" id="subject1" name="subject1"><br><br>
        <label for="subject2">Subject 2:</label>
        <input type="text" id="subject2" name="subject2"><br><br>
        <label for="subject3">Subject 3:</label>
        <input type="text" id="subject3" name="subject3"><br><br>
        <label for="subject4">Subject 4:</label>
        <input type="text" id="subject4" name="subject4"><br><br>
        <label for="subject5">Subject 5:</label>
        <input type="text" id="subject5" name="subject5"><br><br>
        <label for="score1">Score 1:</label>
        <input type="text" id="score1" name="score1"><br><br>
        <label for="score2">Score 2:</label>
        <input type="text" id="score2" name="score2"><br><br>
        <label for="score3">Score 3:</label>
        <input type="text" id="score3" name="score3"><br><br>
        <label for="score4">Score 4:</label>
        <input type="text" id="score4" name="score4"><br><br>
        <label for="score5">Score 5:</label>
        <input type="text" id="score5" name="score5"><br><br>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image"><br><br>
        {% comment %} <label for="class_name">Class:</label>
        <input type="text" id="class_name" name="class_name"><br><br> {% endcomment %}
        <label for="class_name">Class:</label>
        <select id="class_name" name="class_name">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>

    {% if error_message %}
    <p>{{ error_message }}</p>
{% endif %}
</body>
</html>

