

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Student Management System</h1>
    <a href="{% url 'create_student' %}">Create Student</a><br><br>
    <form method="get" action="{% url 'get_students' %}">
        <label for="name_filter">Filter by Name:</label>
        <input type="text" id="name_filter" name="name" value="{{ name_filter }}">
        <button type="submit">Apply Name Filter</button>
    </form>
    <form method="get" action="{% url 'get_students' %}">
        <label for="class_filter">Filter by Class:</label>
        <input type="text" id="class_filter" name="class_name" value="{{ class_name }}">
        <button type="submit">Apply Class Filter</button>
    </form>
    {% comment %} <form method="get" action="{% url 'get_students' %}">
        <input type="text" id="name_filter" name="name" value="{{ name_filter }}">
        <input type="text" id="class_filter" name="class_name" value="{{ class_name }}">
        <button type="submit">Save</button>
    </form> {% endcomment %}
    <br><br>
    <a href="{% url 'get_students' %}">View Students</a>
    <br><br>
    <a href="{% url 'user_logout' %}">Logout</a>
</body>
</html>